<div class="top-navigation-bar">
  <h2 class="entity-title">Exportación de datos</h2>
</div>

<div class="admin_content_wrapper" style="background-color: #f5f5f5; margin: 0">
  <br>
  <%= partial :flash_messages_admin %>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="block block-content-full">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Exportación de clientes reservas</h3>
        </div>
        <div class="block-content block-content-narrow">
          <form name="reservations_import_form" id="reservations_import_form"
                action="/admin/booking/export/customers"
                method="POST" class="form-horizontal" enctype="multipart/form-data">            
            <div class="form-group">
              <div class="col-md-9">
                <input type="submit" class="btn btn-sm btn-primary" value="Exportar"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>